body{
    margin: 0;
    width: 100%;
}

#gridContainer{
    position: absolute;
    top: 5vh;
    left: 20vw;
    width: 60vw;
    height: 84vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1vw;
    background-color: #245d97;
    border-radius: 30px;
    padding: 4vh;
}

.subgrid1{
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vh 1vw;
}

.subgrid1 > div{
    background-color: lightgray;
    border-radius: 1vw;
    height: 27vh;
}

.display{
    grid-column: span 3;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    opacity: 0;
}

.keys{
    /* display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center; */
    height: 22vh;
}

.charts{
    width: 100%;
    display: block;
    padding: 0vw 0vw 0vw 0vw;
}

.upBtn{
    height: 2vw;
}

.upIcons{
    width: 2vw;
    margin-left: 1vw;
}









.result{
    background-color: lightgray;
    height: 27vh;
    border-radius: 1vw;
}

.subgrid3{
    height: 27vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vh 1vh;
}

.subgrid3 > div{
    background-color: lightgray;
    border-radius: 1vw;
}

.buttons{
    grid-column: span 1;
}

.spacer{
    height: 2vh;
}